<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4YEJiKjsq09aDsXrX7KvqyLBx2-aCmjM</string>
	<key>GCM_SENDER_ID</key>
	<string>637301464116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amit.bailgada</string>
	<key>PROJECT_ID</key>
	<string>bailgada-race</string>
	<key>STORAGE_BUCKET</key>
	<string>bailgada-race.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637301464116:ios:579f2c83b9c9691ca9be61</string>
	<key>DATABASE_URL</key>
	<string>https://bailgada-race-default-rtdb.firebaseio.com</string>
</dict>
</plist>